node_modules
./package-lock.json
*.swp
.idea
build-sizes.json
data
**/.env
f2/build
**/locales/*.js
platform/**/.env*
*.cer
f2/cypress/reports
f2/cypress/videos
f2/cypress/screenshots
.vscode
message_*.txt
utils/totp/node_modules
utils/totp/secret
utils/totp/code.html
.DS_Store
