apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: arangodb-claim
  namespace: cybercrime-api
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
  storageClassName: standard
status: {}
